<h1 class="mb-1 restaurant-show-title">{{Store.name}}</h1>
<div class="container">
  <div class="row">
    <div class="col-12 col-md-10 mx-auto">

      <p class="mb-1">
        <span class="text-secondary">
          <i class="fas fa-utensils pr-2"></i>
          類別：
        </span>
        {{Store.category}}
      </p>

      <p class="mb-1">
        <span class="text-secondary">
          <i class="fas fa-map-marker-alt pr-2"></i>
          地址：
        </span>
        {{Store.location}}
        <a href="{{Store.google_map}}" class="text-secondary" target="_blank">
          <i class="fas fa-location-arrow pr-2 fa-xs"></i>
        </a>
      </p>

      <p class="mb-1">
        <span class="text-secondary">
          <i class="fas fa-mobile-alt pr-2"></i>
          電話：
        </span>
        {{Store.phone}}
      </p>

      <p class="mb-5">
        {{Store.description}}
      </p>

      <img class="rounded mx-auto d-block mb-4 w-100"
        src="{{Store.image}}" alt="圖片網址無法載入"
        style="max-width: 600px;">
    </div>
  </div>
</div>

<div style="display: flex; justify-content: center; margin-bottom: 100px;">
  <div style="margin-right: 50px;">
    <a href="/Stores"
      style="text-align: center; color: rgb(33, 89, 192); background-color: rgb(218, 218, 220); box-shadow: 5px 5px #858585; width: 220px; height: 80px; text-decoration: none; display: flex; align-items: center; justify-content: center;">
      <i class="fa-solid fa-house" width="30" height="30"></i> back to homepage
    </a>
  </div>
  <div>
    <a href="/Stores/editStores/{{Store.id}}"
      style="text-align: center; color: rgb(33, 89, 192); background-color: rgb(218, 218, 220); box-shadow: 5px 5px #858585; width: 220px; height: 80px; text-decoration: none; display: flex; align-items: center; justify-content: center;">
      <i class="fa-solid fa-file-pen" width="30" height="30"></i> Edit store's details
    </a>
  </div>
</div>
