<form action="/editStores/{{store.id}}/edit?_method=PUT" method="post">
  <div>
    <label for="name" style="display: inline;">請更改餐廳名稱</label>
    <input type="text" placeholder="edit --name-- here" name="name" required style="display: inline; " id="name" value="{{store.name}}">
  </div>
  
  <div>
    <label for="name_en" style="display: inline;">請更改餐廳英文名稱，只能輸入英文</label>
    <input type="text" placeholder="edit --name_en-- here" name="name_en" required style="display: inline;" id="name_en" value="{{store.name_en}}" pattern="[A-Za-z]+">
  </div>
  
  <div>
    <label for="category" style="display: inline;">請更改餐廳分類</label>
    <input type="text" placeholder="edit --category-- here" name="category" required style="display: inline;" id="category" value="{{store.category}}">
  </div>
  
  <div>
    <label for="image" style="display: inline;">請更改餐廳圖片</label>
    <input type="text" placeholder="edit --image-- here" name="image" required style="display: inline;" id="image" value="{{store.image}}">
  </div>
  
  <div>
    <label for="location" style="display: inline;">請更改餐廳地址</label>
    <input type="text" placeholder="edit --location-- here" name="location" required style="display: inline;" id="location" value="{{store.location}}">
  </div>
  
  <div>
    <label for="phone" style="display: inline;">請更改餐廳電話，只能輸入數字</label>
    <input type="text" placeholder="edit --phone-- here" name="phone" required style="display: inline;" id="phone" value="{{store.phone}}" pattern="[0-9]*">
  </div>
  
  <div>
    <label for="google_map" style="display: inline;">請更改餐廳google-map連結</label>
    <input type="text" placeholder="edit --google_map-- here" name="google_map" required style="display: inline;" id="google_map" value="{{store.google_map}}">
  </div>
  
  <div>
    <label for="rating" style="display: inline;">請更改餐廳評分，只能輸入0-5並允許到小數點第一位</label>
    <input type="text" placeholder="edit --rating-- here" name="rating" required style="display: inline;" id="rating"  value="{{store.rating}}" pattern="[0-5](\.[0-9])?" >
  </div>
  
  <div>
    <label for="description" style="display: inline;">請更改餐廳簡述{{store.description}}</label>
    <input type="text" placeholder="edit --description-- here" name="description" required style="display: inline;" id="description" value="{{store.description}}">
  </div>
  <button type="submit"> Edit </button>
</form>
<a href="/storeDetail/{{store.id}}">back to store detail</a> 
<a href="/">back to home page</a>
